@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes focus {
  from {
    width: 12px;
    height: 12px;
  }
  to {
    width: 14px;
    height: 14px;
  }
}
.container {
  background-color: #FCFAF6;
  max-width: 1200px;
  margin: auto;
}

.pre_header {
  text-align: center;
  height: 40px;
  background-color: #F0EEDD;
}

.pre_header p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16;
  color: #670A18;
  padding-top: 10px;
}

.main_menu {
  background-color: #F5F1E9;
  display: flex;
  justify-content: space-between;
}

.main_menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.main_menu li {
  margin-right: 35px;
  min-width: 40px;
}

.first_menu li:not(.login_li) {
  padding-bottom: 30px;
  border-bottom: 3px solid transparent;
}

.first_menu li:not(.login_li):hover {
  border-bottom: 3px solid #670A18;
}

.main_menu li:first-child {
  margin-left: 35px;
}

.main_menu nav ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #35312E;
}

.login {
  display: inline-flex;
  border-radius: 5px;
  background-color: #C87B5E;
  padding: 4px 15px;
}

.login a {
  color: #FFFFFF;
}

.meet_the_pin p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16;
  color: #35312E;
}

.meet_the_pin span {
  text-decoration: underline;
}

.meet_the_pin h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 57px;
  line-height: 72px;
  color: #35312E;
}

.meet_the_pin a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-flex;
  background-color: #D37657;
  padding: 19px 30px;
  border-radius: 2px;
  max-width: 248px;
}

.cookware_pieces {
  background-color: #F5F1E9;
}

.cookware_pieces h2 {
  padding-top: 42px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30;
  color: #000000;
  text-transform: uppercase;
}

.pieces {
  display: flex;
  flex-direction: row;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: space-around;
  padding-bottom: 45px;
}

.welcome {
  display: flex;
  flex-direction: row;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 122px;
  padding-bottom: 115px;
}

.welcome h2 {
  text-align: center;
  margin-right: 130px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 41;
  color: #35312E;
}

.welcome p {
  max-width: 650px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16;
  color: #4F463F;
}

.designed {
  background-color: #FBF6EA;
  text-align: center;
}

.designed h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 35;
  color: #35312E;
  margin-bottom: 53px;
  padding-top: 70px;
}

.designed_for {
  position: relative;
  height: 639px;
  text-align: center;
  padding-top: 70px;
}

.pin {
  position: absolute;
  top: 5%;
  left: 35%;
}

.lid img {
  position: absolute;
  top: 125px;
  left: 450px;
  z-index: 10;
  animation-name: focus;
  animation-duration: 0.9s;
  animation-iteration-count: infinite; /* Бесконечное повторение анимации */
  animation-timing-function: ease-in-out;
}

.lid-text {
  position: absolute;
  top: 5%;
  left: 170px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #6E6259;
  font-size: 16px;
  opacity: 0;
}

.lid img:hover + .lid-text {
  opacity: 100%;
}

.spout img {
  position: absolute;
  top: 430px;
  left: 500px;
  animation-name: focus;
  animation-duration: 0.9s;
  animation-iteration-count: infinite; /* Бесконечное повторение анимации */
  animation-timing-function: ease-in-out;
}

.spout-text {
  position: absolute;
  top: 420px;
  left: 170px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #6E6259;
  font-size: 16px;
  opacity: 0;
}

.spout img:hover + .spout-text {
  opacity: 100%;
}

.nonstick img {
  position: absolute;
  top: 540px;
  left: 515px;
  animation-name: focus;
  animation-duration: 0.9s;
  animation-iteration-count: infinite; /* Бесконечное повторение анимации */
  animation-timing-function: ease-in-out;
}

.nonstick-text {
  position: absolute;
  top: 525px;
  left: 170px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #6E6259;
  font-size: 16px;
  opacity: 0;
}

.nonstick img:hover + .nonstick-text {
  opacity: 100%;
}

.spatula img {
  position: absolute;
  top: 145px;
  left: 860px;
  animation-name: focus;
  animation-duration: 0.9s;
  animation-iteration-count: infinite; /* Бесконечное повторение анимации */
  animation-timing-function: ease-in-out;
}

.spatula-text {
  position: absolute;
  top: 60px;
  left: 900px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #6E6259;
  font-size: 16px;
  opacity: 0;
}

.spatula img:hover + .spatula-text {
  opacity: 100%;
}

.colander img {
  position: absolute;
  top: 325px;
  left: 750px;
  animation-name: focus;
  animation-duration: 0.9s;
  animation-iteration-count: infinite; /* Бесконечное повторение анимации */
  animation-timing-function: ease-in-out;
}

.colander-text {
  position: absolute;
  top: 290px;
  left: 860px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #6E6259;
  font-size: 16px;
  opacity: 0;
}

.colander img:hover + .colander-text {
  opacity: 100%;
}

.handle img {
  position: absolute;
  top: 450px;
  left: 850px;
  animation-name: focus;
  animation-duration: 0.9s;
  animation-iteration-count: infinite; /* Бесконечное повторение анимации */
  animation-timing-function: ease-in-out;
}

.handle-text {
  position: absolute;
  top: 460px;
  left: 900px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #6E6259;
  font-size: 16px;
  opacity: 0;
}

.handle img:hover + .handle-text {
  opacity: 100%;
}

.essentials_container {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
}

.essentials_container article {
  width: 286px;
  height: 480px;
  text-align: center;
}

.main_text {
  height: 100px;
}

.colors-col_2 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.col_1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  justify-content: center;
}

.col_1 img {
  width: 100%;
  height: 100%;
}

.col_1:hover {
  border: 3px solid #E09D81;
}

.colors-col_2 div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  justify-content: center;
}

.colors-col_2 div img {
  width: 100%;
  height: 100%;
}

.colors-col_2 div:hover {
  border: 3px solid #6E6259;
}

.essentials-img {
  position: relative;
  height: 230px;
  z-index: -10px;
}

.essentials-text {
  padding: 16px 53px;
  height: 300px;
}

#pre_ed_4 {
  position: absolute;
  top: 30px;
  left: -10px;
  z-index: 20;
}

#pre_ed_3, #pre_ed_2, #pre_ed_1 {
  position: absolute;
  top: -60px;
  left: 15px;
  z-index: 20;
}

#edition_4, #edition_3, #edition_2, #edition_1 {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
}

.dirty_dishes {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  background-color: #F5F1E9;
  text-align: center;
  height: 480px;
  justify-content: space-between;
}

.dirty_dishes p {
  padding-top: 109px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #35312E;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.dirty_dishes h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #35312E;
  margin-bottom: 61px;
}

.follow {
  display: inline-flex;
  padding: 18px 41px;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #4F463F;
  text-decoration: none;
  text-transform: uppercase;
}

.pre_footer {
  display: flex;
  background-color: #6C674D;
  padding: 80px 48px;
}

.keep_in_touch {
  margin-right: 311px;
}

.keep_in_touch h3 {
  margin-bottom: 11px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: #F5F1E9;
}

.keep_in_touch p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #F5F1E9;
  margin-bottom: 63px;
}

.shop_company_social {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #F5F1E9;
  margin-bottom: 60px;
}

.shop_company_social p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #F5F1E9;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.shop_company_social nav ul {
  list-style-type: none;
  text-decoration: none;
}

.shop_company_social nav {
  margin-right: 28px;
}

.shop_company_social nav ul li {
  margin-bottom: 9px;
}

.shop_company_social nav ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #F5F1E9;
  opacity: 60%;
}

.shop_company_social nav ul li a:hover {
  opacity: 100%;
}

.you_in p {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #F5F1E9;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.pre_footer_img {
  display: flex;
  flex-direction: row;
}

.pre_footer_img img {
  margin-right: 24px;
}

.pre_footer_img img:last-child {
  margin-right: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #807C62;
  padding: 20px 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FCFAF6;
}

footer p {
  opacity: 50%;
}

.enter_email {
  background-color: #FCFAF6;
  display: flex;
  justify-content: space-between;
  max-width: 448px;
  padding: 18px 20px;
}

.enter_email input {
  background-color: transparent;
  border: 1px solid transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #807C62;
}

.enter_email button {
  background-color: transparent;
  border: 1px solid transparent;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #4F463F;
}

footer nav ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
}

footer nav ul li {
  margin-right: 30px;
  opacity: 50%;
}

footer nav ul li:last-child {
  margin-right: 0;
}

.owl-carousel .back {
  padding-top: 168px;
  padding-left: 384px;
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.back_1 {
  background-image: url("../images/Rectangle.png");
}

.back_2 {
  background-image: url("../images/pan_2.png");
}

.back_3 {
  background-image: url("../images/pan_3.png");
}

.registration_page {
  max-width: 1200px;
  margin: auto;
  background-image: url("../images/register_background.png");
  text-align: center;
  padding-top: 80px;
  height: 100vh;
  border-top: 40px solid #FCFAF6;
  position: relative;
}

.registration_page h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #35312E;
  margin-bottom: 30px;
  padding-top: 30px;
}

.regis_form p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #35312E;
  margin-bottom: 20px;
}

.regis_form {
  background-color: #FCFAF6;
  width: 60%;
  margin: auto;
}

.content div {
  margin-top: 20px;
}

.content input {
  padding: 15px 170px 15px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #4F463F;
  border-radius: 4px;
  border: 1px solid #C87B5E;
}

.btn button {
  padding: 15px 155px;
  background-color: #4F463F;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #FCFAF6;
  margin-bottom: 20px;
}

.continue_with {
  display: flex;
  flex-direction: column;
}

.continue_with a {
  display: inline-flex;
  border: 1px solid #670A18;
  max-width: 300px;
  margin: auto;
  text-decoration: none;
  width: 60%;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #4F463F;
  border-radius: 4px;
  margin-bottom: 7px;
}

.continue_with a:last-child {
  margin-bottom: 30px;
}

.continue_with img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#exit_img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -32px;
  left: 1165px;
}

@media screen and (max-width: 540px) {
  .main_menu li {
    margin-right: 20px;
  }
  .owl-carousel .back {
    padding-left: 0;
    background-position: left;
  }
  .pre_header {
    height: 60px;
  }
  .container {
    margin: 0;
  }
  .owl-carousel {
    padding-left: 0px;
  }
  .meet_the_pin p {
    padding-left: 50px;
  }
  .meet_the_pin h1 {
    padding-left: 50px;
  }
  .meet_the_pin a {
    margin-left: 50px;
  }
  .pieces {
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
  }
  .pieces img {
    margin-bottom: 50px;
  }
  .welcome {
    flex-direction: column;
  }
  .welcome h2 {
    text-align: left;
    margin-bottom: 25px;
    margin-right: 0;
  }
  .dirty_dishes img {
    width: 180px;
  }
  .dirty_dishes h3 {
    margin-top: 110px;
  }
  .dirty_dishes:nth-child(1) {
    display: flex;
    flex-direction: row;
  }
  .pre_footer {
    flex-direction: column;
  }
  .keep_in_touch {
    margin-right: 0;
  }
  .keep_in_touch p {
    margin-bottom: 30px;
  }
  .enter_email {
    margin-bottom: 30px;
  }
  #pan_text-1 {
    left: 250px;
  }
  #pan_text-2 {
    left: 100px;
  }
  #pan_text-3 {
    left: 275px;
    top: 230px;
  }
  #pan_text-4 {
    left: 350px;
    top: 500px;
    max-width: 120px;
  }
  .designed_for {
    padding-right: 10px;
    overflow: hidden;
  }
  .pin {
    position: absolute;
    top: 5%;
    left: 5px;
    width: 150px;
  }
  .essentials_container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .essentials_container article {
    display: flex;
    flex-direction: row;
    width: 520px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .essentials-text {
    margin-left: 100px;
    max-width: 380px;
    text-align: right;
    padding-left: 200px;
    padding-top: 30px;
  }
  .colors-col_2 {
    justify-content: right;
  }
}
@media screen and (max-width: 768px) {
  .pieces {
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    padding-right: 80px;
    gap: 20px;
  }
  .welcome {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .welcome h2 {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .designed_for {
    max-width: 768px;
    padding-right: 450px;
  }
  .pin {
    position: absolute;
    top: 5%;
    left: 20%;
  }
  #pan_text-1 {
    position: absolute;
    top: 5%;
    left: 65px;
  }
  #pan_text-2 {
    position: absolute;
    top: 32%;
    left: 70px;
  }
  #pan_text-3 {
    position: absolute;
    top: 60%;
    left: 50px;
  }
  #pan_text-4 {
    position: absolute;
    top: 3%;
    left: 430px;
  }
  #pan_text-5 {
    position: absolute;
    top: 38%;
    left: 440px;
  }
  #pan_text-6 {
    position: absolute;
    top: 85%;
    left: 490px;
  }
  .dirty_dishes div {
    width: 256px;
    overflow: hidden;
  }
  .pre_footer {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }
  .keep_in_touch {
    margin-right: 0;
  }
  .enter_email {
    margin-bottom: 50px;
  }
  .essentials_container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .essentials_container article {
    display: flex;
    flex-direction: row;
    width: 700px;
    flex-wrap: nowrap;
  }
  .essentials-text {
    width: 200px;
    margin-left: 500px;
    padding: 50px 0;
    text-align: right;
  }
  .colors-col_2 {
    justify-content: right;
  }
}
@media screen and (max-width: 992px) {
  .dirty_dishes div {
    max-width: 330px;
    overflow: hidden;
  }
  .pieces {
    gap: 40px;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }
  .essentials_container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    gap: 20px;
  }
  .essentials_container article {
    width: 451px;
  }
  #pre_ed_4 {
    position: absolute;
    top: 30px;
    left: 65px;
    z-index: 20;
  }
  #pre_ed_3, #pre_ed_2, #pre_ed_1 {
    position: absolute;
    top: -60px;
    left: 90px;
    z-index: 20;
  }
  #edition_4, #edition_3, #edition_2, #edition_1 {
    position: absolute;
    top: 15px;
    left: 90px;
    z-index: 10;
  }
  .colors-col_2 {
    width: 420px;
    justify-content: left;
  }
  .colors-col_2:not(#multi-color) {
    padding-left: 130px;
  }
  #multi-color {
    padding-left: 50px;
  }
}

/*# sourceMappingURL=media.css.map */
