@import 'prepro_style.scss';

@mixin absolut_item($top,$left){
  position: absolute;
  top:$top;
  left:$left;
}

@media screen and (max-width: 540px){
  .main_menu li{
    margin-right:20px;
  }
  .owl-carousel .back {

    padding-left: 0;
    background-position:left;
  }
  .pre_header{
    height:60px;
  }
  .container{
    margin:0;
  }
  .owl-carousel{
    padding-left:0px;
  }
  .meet_the_pin p{
    padding-left: 50px;
  }
  .meet_the_pin h1{
    padding-left:50px;
  }
  .meet_the_pin a{
    margin-left:50px;
  }

  .pieces{
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
  }
  .pieces img{
    margin-bottom: 50px;
  }
  .welcome{
    flex-direction: column;

  }
  .welcome h2{
    text-align: left;
    margin-bottom: 25px;
    margin-right: 0;
  }
  .dirty_dishes img{
    width: 180px;
  }
  .dirty_dishes h3{
    margin-top:110px;
  }
  .dirty_dishes:nth-child(1){
    display: flex;
    flex-direction: row;
  }
  .pre_footer{
    flex-direction: column;

  }
  .keep_in_touch{
    margin-right: 0;
  }
  .keep_in_touch p{
    margin-bottom: 30px;
  }
  .enter_email{
    margin-bottom:30px;

  }


  .designed_for{
    padding-right: 10px;
    overflow: hidden;
  }
  .pin{
    position: absolute;
    top:5%;
    left:0;

  }

  .designed_for{
    padding-left: 10px;
    padding-right:10px;
    width: 520px;
  }
  .essentials_container article{
    max-width:540px;

  }
  .essentials-img{
    left:0;

  }
  .essentials-text{
    max-width:150px;
    margin-right: 100px;
   justify-content: center;
  }

  .colors-col_2{
    position: relative;
    left:-110px;
  }
  .lid img{
    @include absolut_item(125px,160px);
    z-index: 10;
    @include for-focus();
  }

  .lid-text{
    @include float-text(5%,80px);
  }

  .lid img:hover+ .lid-text{
    opacity: 100%;
  }

  .spout img{
    @include absolut_item(430px,178px);
    @include for-focus();
  }
  .spout-text{
    @include float-text(420px,60px);
  }

  .spout img:hover+ .spout-text{
    opacity:100%;
  }
  .nonstick img{
    @include absolut_item(540px,195px);
    @include for-focus();
  }
  .nonstick-text{
    @include float-text(570px,30px);
  }
  .nonstick img:hover+ .nonstick-text{
    opacity: 100%;
  }
  .spatula img{
    @include absolut_item(148px,500px);
    @include for-focus();
  }
  .spatula-text{
    @include float-text(185px,80px);
  }
  .spatula img:hover+.spatula-text{
    opacity: 100%;
  }

  .colander img{
    @include absolut_item(350px,425px);
    @include for-focus();
  }
  .colander-text{
    @include float-text(220px,60px);
  }
  .colander img:hover+.colander-text{
    opacity: 100%;
  }
  .handle img{
    @include absolut_item(440px,450px);
    @include for-focus();
  }
  .handle-text{
    @include float-text(400px,60px);
  }
  .handle img:hover+.handle-text{
    opacity:100%;
  }

  .colors-col_2{
    justify-content: left;
  }
}

@media screen and (max-width: 768px){
  .pieces{
    @include row_items(80px);
    gap:20px;
  }
  .welcome {
    @include column-items(100px);
    text-align:center;
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .welcome h2{
    margin-right:0;
    margin-bottom:50px;

  }
  .designed_for{
    max-width:768px;
    padding-right: 450px;
  }

  .pin{
    position: absolute;
    top:5%;
    left: 20%;

  }
  #pan_text-1{
    @include absolut_item(5%,65px);
  }
  #pan_text-2{
    @include absolut_item(32%,70px);
  }
  #pan_text-3{
    @include absolut_item(60%,50px);
  }
  #pan_text-4{
    @include absolut_item(3%,430px);
  }
  #pan_text-5{
    @include absolut_item(38%,440px);
  }
  #pan_text-6{
    @include absolut_item(85%,490px);
  }

  .dirty_dishes div{
    width: 256px;
    overflow: hidden;
  }
  .pre_footer{
    @include column_items(50px)
  }
  .keep_in_touch{
    margin-right:0;
  }
  .enter_email{
    margin-bottom:50px;
  }
  .essentials_container{
    @include column_items(0);
    padding-top: 50px;
  }
  .essentials_container article{
    display: flex;
    flex-direction: row;
    width:768px;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 60px;
    height: 300px;
  }
  .essentials-text {
    width: 300px;
    margin-left: 460px;
    padding: 50px 0;
    text-align: center;
    justify-content: center;


  }
  .essentials-img{
    left:40px;
  }
  .lid img{
    @include absolut_item(125px,180px);
    z-index: 10;
    @include for-focus();
  }

  .lid-text{
    @include float-text(5%,80px);
  }

  .lid img:hover+ .lid-text{
    opacity: 100%;
  }

  .spout img{
    @include absolut_item(430px,265px);
    @include for-focus();
  }
  .spout-text{
    @include float-text(420px,60px);
  }

  .spout img:hover+ .spout-text{
    opacity:100%;
  }
  .nonstick img{
    @include absolut_item(540px,250px);
    @include for-focus();
  }
  .nonstick-text{
    @include float-text(570px,30px);
  }
  .nonstick img:hover+ .nonstick-text{
    opacity: 100%;
  }
  .spatula img{
    @include absolut_item(168px,500px);
    @include for-focus();
  }
  .spatula-text{
    @include float-text(70px,540px);
  }
  .spatula img:hover+.spatula-text{
    opacity: 100%;
  }

  .colander img{
    @include absolut_item(350px,425px);
    @include for-focus();
  }
  .colander-text{
    @include float-text(268px,500px);
  }
  .colander img:hover+.colander-text{
    opacity: 100%;
  }
  .handle img{
    @include absolut_item(440px,500px);
    @include for-focus();
  }
  .handle-text{
    @include float-text(500px,560px);
  }
  .handle img:hover+.handle-text{
    opacity:100%;
  }
}
@media screen and (max-width:992px){
  .dirty_dishes div{
    max-width:330px;
    overflow:hidden;
  }
  .pieces{
    gap:40px;
    @include row_items(50px);
  }

  .essentials_container{
    flex-wrap:wrap;
    @include row_items(30px);
    gap: 20px;
  }
  .essentials_container article{
    width:451px;
  }


  #pre_ed_4{
    @include absolut_item(30px,65px);
    z-index: 20;
  }
  #pre_ed_3, #pre_ed_2, #pre_ed_1{
    @include absolut_item(-60px,90px);
    z-index: 20;
  }
  #edition_4, #edition_3, #edition_2,#edition_1{
    @include absolut_item(15px,90px);
    z-index: 10;
  }

  .colors-col_2{
    width: 420px;
    justify-content: left;


  }

  .colors-col_2:not(#multi-color){
    padding-left:130px;
  }
  #multi-color{
    padding-left: 50px;
  }



}